### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [191]:
# Import pandas library
import pandas as pd

Heroes_File = "HeroesOfPymoli_purchase_data.csv"

purchase_data = pd.read_csv(Heroes_File)

In [192]:
purchase_df = pd.DataFrame(purchase_data)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [193]:
# Using .rename(columns={}) in order to rename columns
purchase_rename_df = purchase_df.rename(columns={"Purchase ID":"Purchase_ID", "SN":"Player", "Item ID": "Item_ID", "Item Name": "Item_Name"})
purchase_rename_df.head()

,Purchase_ID,Player,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

* Display the total number of players

In [194]:
Total_Players = len(purchase_rename_df["Player"].value_counts())

# Create a data frame
Total_Count_of_Players = pd.DataFrame({"Total Players":[Total_Players]})
Total_Count_of_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [195]:
Unique_Items = purchase_rename_df["Item_ID"].nunique()
Unique_Items

183

In [196]:
Average_Price = purchase_rename_df["Price"].mean()
Average_Price

3.050987179487176

In [197]:
Total_Number_Of_Purchases = purchase_rename_df["Purchase_ID"].count()
Total_Number_Of_Purchases

780

In [198]:
Total_Revenue = purchase_rename_df["Price"].sum()
Total_Revenue

2379.77

In [199]:
Summary_df_Stats = pd.DataFrame({"Number of Unique Items":[Unique_Items],
                           "Average Price":[Average_Price], 
                           "Number of Purchases": [Total_Number_Of_Purchases], 
                           "Total Revenue": [Total_Revenue]})
# Format
Summary_df_Stats.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [200]:
Count_Gender_Of_Players = purchase_rename_df.groupby("Gender")["Player"].nunique()
Count_Gender_Of_Players

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Player, dtype: int64

In [207]:
# Total count by gender and divivde by total players 
Percentage_Of_Players = ((Count_Gender_Of_Players  * 100)/ Total_Players)
Percentage_Of_Players

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: Player, dtype: float64

In [208]:
Percentage_Gender_Of_Players = purchase_rename_df["Gender"].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'
Percentage_Gender_Of_Players

Male                     83.59%
Female                   14.49%
Other / Non-Disclosed     1.92%
Name: Gender, dtype: object

In [209]:
# Create dataframe with obtained values
# Gender_Stats
Gender_Stats = pd.DataFrame({"Percentage of Players": Percentage_Of_Players, "Total Count": Count_Gender_Of_Players})
Gender_Stats.sort_values(["Percentage of Players"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [210]:
Purchase_Count_by_Gender = purchase_rename_df.groupby("Gender")["Purchase_ID"].nunique()
Purchase_Count_by_Gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_ID, dtype: int64

In [211]:
Avg_Purchase_Price = purchase_rename_df.groupby("Gender")["Price"].mean()
Avg_Purchase_Price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [212]:
Total_Purchase_Value = purchase_rename_df.groupby("Gender")["Price"].sum()
Total_Purchase_Value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [213]:
Avg_Total_Purchase_Person = Total_Purchase_Value / Count_Gender_Of_Players
Avg_Total_Purchase_Person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [214]:
Purchasing_Analysis_by_Gender = pd.DataFrame({"Purchase Count": Purchase_Count_by_Gender, 
                                    "Average Purchase Price": Avg_Purchase_Price,
                                    "Total Purchase Value":Total_Purchase_Value,
                                    "Avg Total Purchase per Person": Avg_Total_Purchase_Person})
# Assign Gender at the top let of the corner
Purchasing_Analysis_by_Gender.index.name = "Gender"

# Format 
Purchasing_Analysis_by_Gender.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [215]:
bins=[0,10,14,19,24,29,34,39,9999]
labels=['<10','10 - 14','15 - 19','20 - 24','25 - 29','30 - 34','35 - 39','40+']
Binned_Purchase_Data =purchase_rename_df.groupby (pd.cut(purchase_rename_df['Age'], bins=bins, labels=labels)).nunique()
Binned_Purchase_Data["Player"]

Age
<10         24
10 - 14     15
15 - 19    107
20 - 24    258
25 - 29     77
30 - 34     52
35 - 39     31
40+         12
Name: Player, dtype: int64

In [216]:
Percentage_Of_Players=(Binned_Purchase_Data['Player']/Total_Players)*100
Percentage_Of_Players

Age
<10         4.166667
10 - 14     2.604167
15 - 19    18.576389
20 - 24    44.791667
25 - 29    13.368056
30 - 34     9.027778
35 - 39     5.381944
40+         2.083333
Name: Player, dtype: float64

In [217]:
Age_Demographics = pd.DataFrame({"Total Count": Binned_Purchase_Data["Player"], 
                                    "Percentage of Players": Percentage_Of_Players,
                                   })
# Format Age Demographics
Age_Demographics.style.format({"Percentage of Players":"{:,.2f}"+"%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [218]:
# Purchase Count
Purchase_Count_by_Age = Binned_Purchase_Data ["Purchase_ID"]
Purchase_Count_by_Age

Age
<10         32
10 - 14     19
15 - 19    136
20 - 24    365
25 - 29    101
30 - 34     73
35 - 39     41
40+         13
Name: Purchase_ID, dtype: int64

In [219]:
# Average Purchase Price by Age

Average_Purchase_Price_by_Age =purchase_rename_df.groupby (pd.cut(purchase_rename_df['Age'], bins=bins, labels=labels)).mean()
Average_Purchase_Price_by_Age['Price']

Age
<10        3.405000
10 - 14    2.681579
15 - 19    3.035956
20 - 24    3.052219
25 - 29    2.900990
30 - 34    2.931507
35 - 39    3.601707
40+        2.941538
Name: Price, dtype: float64

In [220]:
# Total Purchase Value by Age

Total_Purchase_Price_by_Age =purchase_rename_df.groupby (pd.cut(purchase_rename_df['Age'], bins=bins, labels=labels)).sum()
Total_Purchase_Price_by_Age["Price"]

Age
<10         108.96
10 - 14      50.95
15 - 19     412.89
20 - 24    1114.06
25 - 29     293.00
30 - 34     214.00
35 - 39     147.67
40+          38.24
Name: Price, dtype: float64

In [221]:
Avg_Total_Purchase_Person_by_Age = Total_Purchase_Price_by_Age["Price"] / Binned_Purchase_Data["Player"]
Avg_Total_Purchase_Person_by_Age

Age
<10        4.540000
10 - 14    3.396667
15 - 19    3.858785
20 - 24    4.318062
25 - 29    3.805195
30 - 34    4.115385
35 - 39    4.763548
40+        3.186667
dtype: float64

In [222]:
Purchasing_Analysis_by_Age = pd.DataFrame({"Purchase Count": Purchase_Count_by_Age, 
                                    "Average Purchase Price": Average_Purchase_Price_by_Age['Price'],
                                           "Total Purchase Value": Total_Purchase_Price_by_Age["Price"],
                                           "Avg Total Purchase per Person": Avg_Total_Purchase_Person_by_Age
                                   })
# Format 
Purchasing_Analysis_by_Age.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [223]:
Purchase_Count_Spender = purchase_df.groupby("SN")["Purchase ID"].count()
Purchase_Count_Spender.head(10)

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Aelastirin39    2
Aelidru27       1
Aelin32         3
Aelly27         2
Aellynun67      1
Name: Purchase ID, dtype: int64

In [224]:
Average_Purchase_Price_Spender = purchase_df.groupby("SN")["Price"].mean()
Average_Purchase_Price_Spender.head(10)

SN
Adairialis76    2.280000
Adastirin33     4.480000
Aeda94          4.910000
Aela59          4.320000
Aelaria33       1.790000
Aelastirin39    3.645000
Aelidru27       1.090000
Aelin32         2.993333
Aelly27         3.395000
Aellynun67      3.740000
Name: Price, dtype: float64

In [225]:
Total_Purchase_Value_Spender = purchase_df.groupby("SN")["Price"].sum()
Total_Purchase_Value_Spender.head(10)

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Aelastirin39    7.29
Aelidru27       1.09
Aelin32         8.98
Aelly27         6.79
Aellynun67      3.74
Name: Price, dtype: float64

In [226]:
# Create a DataFrame with the metrics obtained
Top_Spenders = pd.DataFrame({"Purchase Count": Purchase_Count_Spender,
                             "Average Purchase Price": Average_Purchase_Price_Spender,
                             "Total Purchase Value": Total_Purchase_Value_Spender})

# Sort in descending order to obtain top 5 spender names 
Top_Spenders_Formatted = Top_Spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
Top_Spenders_Formatted.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [227]:
Purchase_Count_byID_Name = purchase_rename_df.groupby(["Item_ID","Item_Name"])["Purchase_ID"].count()
Purchase_Count_byID_Name.head()

Item_ID  Item_Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Purchase_ID, dtype: int64

In [228]:
Item_Price_byID_Name = purchase_rename_df.groupby(["Item_ID","Item_Name"])["Price"].mean()
Item_Price_byID_Name.head()

Item_ID  Item_Name
0        Splinter              1.28
1        Crucifer              3.26
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
Name: Price, dtype: float64

In [229]:
Total_Purchase_Value_byID_Name = purchase_rename_df.groupby(["Item_ID","Item_Name"])["Price"].sum()
Total_Purchase_Value_byID_Name.head()

Item_ID  Item_Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [231]:
# Create a DataFrame with the metrics obtained
MPopular_Items = pd.DataFrame({"Purchase Count": Purchase_Count_byID_Name,
                             "Item Price": Item_Price_byID_Name,
                             "Total Purchase Value": Total_Purchase_Value_byID_Name})

# Sort in descending order to obtain top 5 most popular items 
MPopular_Items_Formatted = MPopular_Items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
MPopular_Items_Formatted.style.format({"Item Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [232]:
# Create a DataFrame with the metrics obtained
MProfitable_Items = pd.DataFrame({"Purchase Count": Purchase_Count_byID_Name,
                             "Item Price": Item_Price_byID_Name,
                             "Total Purchase Value": Total_Purchase_Value_byID_Name})

# Sort in descending order to obtain top 5 most profitable items 
MProfitable_Items_Formatted = MProfitable_Items.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
MProfitable_Items_Formatted.style.format({"Item Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})